<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <form (ngSubmit)="onSubmit()" class="mb-4">
          <div class="form-group">
            <label for="cityInput" class="form-label">City Name:</label>
            <input type="text" id="cityInput" name="cityInput" [(ngModel)]="cityName" required class="form-control">
          </div>
          <button type="submit" class="btn btn-primary" style="margin-top: 1rem;">Get Weather</button>
        </form>
  
        <div *ngIf="weatherData$ | async as weatherData" class="weather-info">
          <h2 class="mt-4">{{ weatherData.name }}</h2>
          <div class="weather-details">
            <p><strong>Temperature:</strong> {{ (weatherData.main.temp - 273.15).toFixed(2) }} °C</p>
            <p><strong>Weather:</strong> {{ weatherData.weather[0].main }}</p>
            <p><strong>Description:</strong> {{ weatherData.weather[0].description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  